* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header{
    background-color: #0c030b;
}

body {
    font-family: 'Raleway', sans-serif;
}

.top-77 {

    top: 73%;
}

.top-30{
    top: 30%;
} 

.typing-text {

    font-style: italic;
    font-size: 1.3rem;
    word-spacing: 20%;
}

.btn-md {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    white-space: nowrap; 
}

.text-responsive p {
    font-size: 1.5rem; 
    margin-top: 35px;
}

.btn{

    color: white;
    background-color: #000000;
    background-size: 200% 100%; 
    transition: all 0.4s ease-in-out; 
    background-position: 0 0; 
    background-image: none; 
    
}
.btn:hover {
    background-image: linear-gradient(to right,#000000, #b63d85, #a83279, #0c030b, #000000); 
    background-position: 100% 0; 
    transform: scale(1.1); 
    background-position: 100% 0; 
    transition: all 0.4s ease-in-out; 
}


@media (max-width: 768px) {
    .btn-sm-on-small {
        font-size: 0.85rem; 
        padding: 0.4rem 0.8rem; 
    }

    .buttons-container {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .buttons-container .col-auto {
        margin-bottom: 0.5rem;
        margin-top: 50px; 
    }

    .text-responsive p {
        font-size: 0.8rem; 
        margin-top: 0px;
    }

    .typing-text{
        font-size: 0.7rem;
    }

   
}

.icon-img {
    height: auto;
    width: 80%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}


.custom-card {
border: 5px solid #005288; 
border-radius: 10px;
transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.custom-card:hover {
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
transform: scale(1.05); 
}


.card-title {
font-size: 1.5rem;
color: #005288;
margin-top: 10px;
font-family: 'Lora', serif;
font-style: italic;
}