h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
    letter-spacing: 2px; 
}

header{
    background-color: #0c030b;
}

.main-image-container {
    position: relative;
    height: 400px;
    
    background-color: #f8f9fa;
}

.main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.button-overlay {
    position: absolute;
    bottom: 70px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.button-overlay .btn {
    margin: 10px;
    color: #ffffff;
    background-color: #000000;
    transition: all 0.3s ease;
}

.button-overlay .btn:hover {
    background-color: #ff98e9;
    color: #000;
}

#typing-text-container {
    position: relative;
    bottom: 50px;
    text-align: center;
    
}

#typing-text {
    font-size: 1.5rem;
    font-weight: 100;
    color: #000;
    
}
#webd-grd {
    position: relative;
    bottom: 170px;
}